<div class="modal-header">
    <h3 class="modal-title" translate>currency.edit.title</h3>
</div>
<div class="modal-body">
    <form name="currencyForm" role="form" ng-submit="submit()" novalidate>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" ng-class="{'has-error': currencyForm.name.$invalid}">
                        <label for="name" translate>currency.edit.field.name</label>
                        <input type="text" name="name" class="form-control input-sm" ng-required="true" id="name"
                               ng-model="model.name"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="submit()" ng-disabled="currencyForm.$invalid" translate>function.save
    </button>
    <button class="btn btn-warning" ng-click="cancel()" translate>function.cancel</button>
</div>