<div class="panel panel-default">
    <div class="panel-heading">{{ 'reports.MONTHLY_BALANCE.desc' | translate }}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <ui-select ng-model="$parent.request.month" search-enabled="false">
                    <ui-select-match placeholder="{{ 'reports.MONTHLY_BALANCE.filter.month' | translate }}">
                        {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="month in months">{{month.name}}</ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-3">
                <ui-select ng-model="$parent.request.year" search-enabled="false">
                    <ui-select-match placeholder="{{ 'reports.MONTHLY_BALANCE.filter.year' | translate }}">
                        {{$select.selected}}
                    </ui-select-match>
                    <ui-select-choices repeat="year in years">{{year}}</ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">{{ 'reports.MONTHLY_BALANCE.expense' | translate }}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'reports.MONTHLY_BALANCE.category' | translate }}</th>
                            <th ng-repeat="currency in report['expense']['currencies']">{{currency.name}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in report['expense']['rows']">
                            <td>{{row['category']['name']}}</td>
                            <td ng-repeat="value in row['values']">{{value}}</td>
                        </tr>
                        <tr class="info">
                            <td><strong>{{ 'reports.MONTHLY_BALANCE.total' | translate }}</strong></td>
                            <td ng-repeat="total in report['expense']['totals']">{{total}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">{{ 'reports.MONTHLY_BALANCE.income' | translate }}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'reports.MONTHLY_BALANCE.category' | translate }}</th>
                            <th ng-repeat="currency in report['income']['currencies']">{{currency.name}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in report['income']['rows']">
                            <td>{{row['category']['name']}}</td>
                            <td ng-repeat="value in row['values']">{{value}}</td>
                        </tr>
                        <tr class="info">
                            <td><strong>{{ 'reports.MONTHLY_BALANCE.total' | translate }}</strong></td>
                            <td ng-repeat="total in report['income']['totals']">{{total}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>