<div class="modal-header">
    <h3 class="modal-title" translate>operations.edit.title</h3>
</div>
<div class="modal-body">

    <div class='calculator-modal' ng-show='showCalculator'>
        <div class='calculator-modal-dialog'>
            <div class='calculator-modal-close' ng-click='toggleCalculator()'>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </div>
            <div class='calculator-modal-dialog-content'>
                <div ng-include="'template/calculator.html'"></div>
            </div>
        </div>
    </div>

    <form name="operationForm" role="form" ng-submit="submit()" novalidate>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div ng-controller="TypeTabController">
                        <tabset type-tabs ng-model="model.type" type="pills">
                            <tab heading="{{ 'operations.edit.field.type.expense' | translate }}"
                                 active="tabs[0].active" disabled="model.id && !tabs[0].active"></tab>
                            <tab heading="{{ 'operations.edit.field.type.transfer' | translate }}"
                                 active="tabs[1].active" disabled="model.id && !tabs[1].active"></tab>
                            <tab heading="{{ 'operations.edit.field.type.income' | translate }}"
                                 active="tabs[2].active" disabled="model.id && !tabs[2].active"></tab>
                        </tabset>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-md-12">
                    <div class="form-group" ng-class="{'has-error': operationForm.date.$invalid}"
                         ng-controller="DPickerCtrl">
                        <label translate>operations.edit.field.date</label>

                        <p class="input-group">
                            <input type="text" name="date" class="form-control input-sm" datepicker-popup="{{format}}"
                                   ng-model="model.date" ng-required="true"
                                   is-open="opened" datepicker-options="dateOptions"
                                   close-text="Close"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-sm" ng-click="open($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-class="{'has-error': operationForm.account.$invalid}">
                        <label translate>operations.edit.field.account.title</label>
                        <ui-select name="account" ng-model="$parent.model.account" on-select="changeAccount($model)"
                                   ng-required="true">
                            <ui-select-match placeholder="{{ 'operations.edit.field.account.tooltip' | translate}}">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="account in accounts | filter: $select.search">
                                {{account.name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{'has-error': operationForm.currency.$invalid}">
                        <label translate>operations.edit.field.currency.title</label>
                        <ui-select name="currency" ng-model="$parent.model.currency" ng-required="true">
                            <ui-select-match placeholder="{{ 'operations.edit.field.currency.tooltip' | translate}}">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="currency in currencies | filter: $select.search">
                                {{currency.name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" ng-class="{'has-error': operationForm.category.$invalid}">
                        <label translate>operations.edit.field.category.title</label>
                        <ui-select name="category" ng-model="$parent.model.category" ng-required="true">
                            <ui-select-match placeholder="{{ 'operations.edit.field.category.tooltip' | translate}}">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="category in categories | filter: $select.search">
                                {{category.name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="isTransfer()">
                <div class="col-md-6">
                    <div class="form-group" ng-class="{'has-error': operationForm.accountTo.$invalid}">
                        <label translate>operations.edit.field.transfer.account.title</label>
                        <ui-select name="accountTo" ng-model="$parent.model.transfer.to" ng-required="isTransfer()">
                            <ui-select-match
                                    placeholder="{{ 'operations.edit.field.transfer.account.tooltip' | translate}}">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="account in accounts | filter: $select.search">
                                {{account.name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{'has-error': operationForm.transferedMoney.$invalid}">
                        <label for="transferedMoney" translate>
                            operations.edit.field.transfer.amount.title
                            <a href="#" tooltip="{{ 'operations.edit.field.transfer.amount.tooltip' | translate}}">
                            <span class="glyphicon glyphicon-question-sign"></span></a>
                        </label>
                        <input type="text" name="transferedMoney" class="form-control input-sm" id="transferedMoney"
                               ng-required="isTransfer()" ng-model="model.transfer.amount" numbers-only/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" ng-class="{'has-error': operationForm.amount.$invalid}">
                        <label for="amount" translate>operations.edit.field.amount.title
                            <a href="#" tooltip="{{ 'operations.edit.field.amount.tooltip' | translate}}"><span
                                class="glyphicon glyphicon-question-sign"></span></a></label>

                        <div class="input-group">
                            <input type="text" name="amount" class="form-control input-sm" id="amount"
                                   ng-model="model.amount"
                                   ng-required="true" ng-change="moneyUpdate()" numbers-only/>
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-sm" type="button" ng-click="toggleCalculator()">
                                    <span class="glyphicon glyphicon-th"></span>
                                </button>
                              </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-class="{'has-error': operationForm.moneyWas.$invalid}">
                        <label for="moneyWas" translate>operations.edit.field.moneyWas.title
                            <a href="#" tooltip="{{ 'operations.edit.field.moneyWas.tooltip' | translate}}">
                                <span class="glyphicon glyphicon-question-sign"></span></a></label>
                        <input type="text" class="form-control input-sm" id="moneyWas" name="moneyWas"
                               ng-model="model.moneyWas"
                               ng-required="true" ng-change="moneyUpdate()" numbers-only>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{'has-error': operationForm.moneyBecome.$invalid}">
                        <label for="moneyBecome" translate>operations.edit.field.moneyBecome.title
                            <a href="#" tooltip="{{ 'operations.edit.field.moneyBecome.tooltip' | translate}}">
                                <span class="glyphicon glyphicon-question-sign"></span></a></label>
                        <input type="text" class="form-control input-sm" id="moneyBecome" name="moneyBecome"
                               ng-model="model.moneyBecome"
                               ng-required="true" numbers-only>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="info" translate>operations.edit.field.info.title
                            <a href="#" tooltip="{{ 'operations.edit.field.info.tooltip' | translate}}">
                                <span class="glyphicon glyphicon-question-sign"></span></a></label>
                        <input type="text" class="form-control input-sm" id="info" ng-model="model.info"/>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="submit()" ng-disabled="operationForm.$invalid" translate>function.save
    </button>
    <button class="btn btn-warning" ng-click="cancel()" translate>function.cancel</button>
</div>