<div class="modal-header">
    <h3 class="modal-title">Operation</h3>
</div>
<div class="modal-body">
    <div ng-controller="TabController">
        <tabset type="pills">
            <tab heading="Outcome" disabled="tabs[0].disabled" active="tabs[0].active"
                 ng-click="tabs[0].disabled || changeType(tabs[0].type)">
                <div ng-include="'template/operation-outcome-tpl.html'"></div>
            </tab>
            <tab heading="Transfer" disabled="tabs[1].disabled" active="tabs[1].active"
                 ng-click="tabs[1].disabled || changeType(tabs[1].type)">
                <div ng-include="'template/operation-transfer-tpl.html'"></div>
            </tab>
            <tab heading="Income" disabled="tabs[2].disabled" active="tabs[2].active"
                 ng-click="tabs[2].disabled || changeType(tabs[2].type)">
                <div ng-include="'template/operation-income-tpl.html'"></div>
            </tab>
        </tabset>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="submit()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>