<div class="modal-header">
    <h3 class="modal-title">Operation</h3>
</div>
<div class="modal-body">
    <form name="operationForm" role="form" ng-submit="submit()" novalidate>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div ng-controller="TypeTabController">
                        <tabset type-tabs ng-model="model.type" type="pills">
                            <tab heading="Expense" active="tabs[0].active"></tab>
                            <tab heading="Transfer" active="tabs[1].active"></tab>
                            <tab heading="Income" active="tabs[2].active"></tab>
                        </tabset>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-md-12">
                    <div class="form-group" ng-class="{'has-error': operationForm.date.$invalid}"
                         ng-controller="DPickerCtrl">
                        <label>Date of operation</label>

                        <p class="input-group">
                            <input type="text" name="date" class="form-control input-sm" datepicker-popup="{{format}}"
                                   ng-model="model.date" ng-required="true"
                                   is-open="opened" datepicker-options="dateOptions"
                                   close-text="Close"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-sm" ng-click="open($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-class="{'has-error': operationForm.account.$invalid}">
                        <label>Account</label>
                        <ui-select name="account" ng-model="$parent.model.account" on-select="changeAccount($model)"
                                   ng-required="true">
                            <ui-select-match placeholder="Select account...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="account in accounts | filter: $select.search">
                                {{account.name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{'has-error': operationForm.currency.$invalid}">
                        <label>Currency</label>
                        <ui-select name="currency" ng-model="$parent.model.currency" ng-required="true">
                            <ui-select-match placeholder="Select currency...">{{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="currency in currencies | filter: $select.search">
                                {{currency.name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" ng-class="{'has-error': operationForm.category.$invalid}">
                        <label>Category</label>
                        <ui-select name="category" ng-model="$parent.model.category" ng-required="true">
                            <ui-select-match placeholder="Select category...">{{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="category in categories | filter: $select.search">
                                {{category.name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="form-group" ng-class="{'has-error': operationForm.amount.$invalid}">
                            <label for="amount">Money <a href="#"
                                                         tooltip="The amount of money of this operation in the operation currency"><span
                                    class="glyphicon glyphicon-question-sign"></span></a></label>
                            <input type="text" name="amount" class="form-control input-sm" id="amount"
                                   ng-model="model.amount"
                                   ng-required="true" ng-change="moneyUpdate()" numbers-only/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="moneyWas">Money before <a href="#" tooltip="Money was on account before the
                        operation"><span
                                class="glyphicon glyphicon-question-sign"></span></a></label>
                        <input type="text" class="form-control input-sm" id="moneyWas" ng-model="model.moneyWas"
                               ng-change="moneyUpdate()" numbers-only>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="moneyBecome">Money after <a href="#"
                                                                tooltip="Money become on account after operation"><span
                                class="glyphicon glyphicon-question-sign"></span></a></label>
                        <input type="text" class="form-control input-sm" id="moneyBecome" ng-model="model.moneyBecome"
                               numbers-only>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="info">Info <a href="#"
                                                      tooltip="Additional information about opertaion"><span
                                    class="glyphicon glyphicon-question-sign"></span></a></label>
                            <input type="text" class="form-control input-sm" id="info" ng-model="model.info"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="submit()" ng-disabled="operationForm.$invalid">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>