html, body {
    height: 100%;
}

.grid {
    margin-top: 10px;
    width: 100%;
    height: 500px;
}

.page-header {
    margin-top: -10px;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

@media (max-width: 768px) {
    [class*="col-"] {
        margin-bottom: 15px;
    }
}