<div class="page-header">
    <h1 translate>operations.title</h1>
</div>

<div class="row">
    <div class="col-md-10">
        <button type="button" class="btn btn-primary" ng-click="openNewDialog()" translate>function.add</button>
        <button type="button" class="btn btn-default" ng-click="openEditDialog()"
                ng-disabled="gridApi.selection.getSelectedRows().length === 0" translate>function.edit
        </button>
        <button type="button" class="btn btn-danger" ng-click="openDeleteDialog()"
                ng-disabled="gridApi.selection.getSelectedRows().length === 0" translate>function.delete
        </button>
    </div>
    <div class="col-md-2">
        <ui-select ng-model="$parent.filter.category">
            <ui-select-match placeholder="{{ 'operations.filters.category' | translate}}" allow-clear>
                {{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="category in categories | filter: $select.search">
                {{category.name}}
            </ui-select-choices>
        </ui-select>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div ui-grid="gridOptions" class="grid" ui-grid-selection ui-grid-infinite-scroll
             pageable></div>
    </div>
</div>