<div class="page-header">
    <h1>{{ 'operations.title' | translate }}</h1>
</div>

<div class="row">
    <div class="col-md-10">
        <button type="button" class="btn btn-primary" ng-click="openNewDialog()">{{ 'function.add' | translate}}</button>
        <button type="button" class="btn btn-default" ng-click="openEditDialog()"
                ng-disabled="gridApi.selection.getSelectedRows().length === 0">{{ 'function.edit' | translate}}
        </button>
        <button type="button" class="btn btn-danger" ng-click="openDeleteDialog()"
                ng-disabled="gridApi.selection.getSelectedRows().length === 0">{{ 'function.delete' | translate}}
        </button>
    </div>
    <div class="col-md-2">
        <div class="input-group">
            <ui-select ng-model="$parent.filter.category">
                <ui-select-match placeholder="{{ 'operations.filters.category' | translate}}">{{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="category in categories | filter: $select.search">
                    {{category.name}}
                </ui-select-choices>
            </ui-select>

            <span class="input-group-btn">
              <button ng-click="filter.category = undefined" class="btn btn-default">
                  <span class="glyphicon glyphicon-trash"></span>
              </button>
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div ui-grid="gridOptions" class="grid" ui-grid-selection ui-grid-infinite-scroll
             pageable></div>
    </div>
</div>